POSTGRES_PASSWORD=change_me_strong_password
JWT_SECRET=change_me_at_least_32_chars_random_string
TRAILHOST_USER_EMAIL=
TRAILHOST_USER_PASSWORD=
DOMAIN=your-domain.com
ACME_EMAIL=your-email@example.com
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
